body {
    font-family: 'Arial';
    background-color: rgba(255, 255, 255, 0.525);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #app {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px skyblue;
  }
  
  input {
    padding: 10px;
    margin: 5px;
  }
  
  button {
    padding: 10px;
    margin: 5px;
    background-color: skyblue;
    border-radius: 5px;
  }
  
  #weather-info {
    margin-top: 20px;
  }
  